$env:OPENAI_API_KEY = "{enter key here, and remove .template from the file name}"

$env:LANGCHAIN_TRACING_V2 = "true"
$env:LANGCHAIN_API_KEY = "{enter key here, and remove .template from the file name}"
$env:TAVILY_API_KEY = "{enter key here, and remove .template from the file name}"